<!doctype html>
	<html>
		<head>
			<title>ShareCapital</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		</head>
		<body>
			<nav class="navbar navbar-default">
		  		<div class="container-fluid">
		    		<div class="navbar-header">
		      			<a class="navbar-brand" href="/">Share Capital</a>
		    		</div>
		    		<ul class="nav navbar-nav">
		      			<li class="active"><a href="#">My Expenses</a></li>
		      			<li><a href="/profile">Profile</a></li>
		    		</ul>
		  		</div>
			</nav>
		  
			<div class="container">
		  		<h3>This would be the basic homepage of the user</h3>
			</div>
		</body>
	</html>